
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/4ZGNgwb/Bandeau092024.jpg' alt='Groupe d\'étudiants entrain de discuter avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Chers élèves, chers parents,
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Cette rentrée 2024 est une grande réussite pour #[span(style="font-weight:700;") EcoSup Assurance] et #[span(style="font-weight:700;") EcoSup Campus]. De nouvelles promotions prêtent à relever les défis, à vivre l'aventure de l'alternance et à grandir durant les mois à venir.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Les former, les accompagner, les voir s'accomplir... est notre métier, mais également notre passion. #[span(style="font-weight:700;") L'élève au centre de notre démarche !]
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Nous sommes heureux et fiers d'accueillir cette nouvelle génération d'élève. Beaucoup d'entre eux ont trouvé leur contrat d'apprentissage, mais certains sont encore en recherche. #[span(style="font-weight:700;") Vous pouvez les aider ! comment ? En en parlant et en étant à l'écoute des opportunités !]
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Je vous souhaite à vous tous une très bonne rentrée 2024 et je me tiens à votre disposition pour vous rencontrer !
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Bien à vous.