
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/7Qm5PV8/video-Bandeau-A1102024.gif' alt='Groupe d\'étudiants entrain de discuter avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Bonjour à tous,
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='700' line-height='20px' color="#2D3748") Le mot d'ordre de cette rentrée 2024 ? Le partenariat ! Cette nouvelle année sera placée sous le signe de la synergie et de la collaboration. Notre ambition est claire : faire rayonner EcoSup Campus à l'échelle régionale.
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Pour concrétiser cette ambition, nous multiplions les initiatives pour renforcer nos liens avec les entreprises et les acteurs de l'emploi de notre région. Vous découvrirez dans cette newsletter les fruits de nos efforts en 2024, et nous sommes convaincus que de nouvelles réussites nous attendent.
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='700' line-height='20px' color="#2D3748") C'est pour vous, élèves et futurs élèves d'EcoSup Assurance, que nous agissons tous les jours auprès des acteurs du monde du travail de notre région, afin de vous garantir une formation complète en adéquation avec les besoins de cette profession passionnante : la banque assurance !
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") À très bientôt !