mj-section(background-color="#270938" padding-left="23px" padding-right="23px")
    mj-column(width="100%")
        mj-text(padding="0px 2px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Apprentissage
        mj-text(padding="0px 2px 10px 2px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Les entreprises partenaires qui accueillent nos étudiants
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/NghZ413/GG-SMA.jpg" alt="logo GC SMA BTP")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/9V7ywWW/G-AXA1.jpg" alt="logo AXA assurance")/
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/9TCzHwq/Deledalle-Assurance.jpg" alt="logo Deledalle assurance")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/qN5kPmq/Logo2M.jpg" alt="logo 2M votre courtier assurances")/
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/sjtrmH8/GG-Swiss-Life.jpg" alt="logo Swiss life")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/tXkd5WQ/G-HENNER.jpg" alt="logo Groupe Henner")/
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/t3bKgS6/G-MMA.jpg" alt="logo MMA assurance")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/mcbYWCB/G-Allianz.jpg" alt="logo Allianz")/
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/YhPzQvH/LogoDiot.jpg" alt="logo Diot Siaci")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/NFccVnr/Logo-Messange.jpg" alt="logo Mesange prevoyance")/
    mj-group(width="50%")
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/jHXvBvc/Logo-Sofinco.jpg" alt="logo Sofinco")/
        mj-column(background-color="#270938" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/PZskzYv/Logo-Kelly-Gris.jpg" alt="logo Kelly et Gi Groupe")/
    