mj-section(background-color='#ffffff')
    mj-column(width="30%")
        mj-image(padding='10px 0px' fluid-on-mobile="true" width="480px" border='none' src='https://i.ibb.co/0Fc4FgN/112024-A1-Assurance.jpg' alt='SMA BTP soutiendra nos étudiants au Challenge Bachelor en mars 2025')/
    mj-column(width='70%')
        mj-text(padding="0px 25px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Partenariat entreprise
        mj-text(padding="0px 25px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') SMA BTP nous accompagne !
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Ancrée dans le monde du BTP depuis plus de 160 ans, la #[span(style="font-weight:700;") SMA BTP] est aujourd'hui un acteur de référence du marché de l'assurance en France et en Europe.
        mj-text(padding="5px 25px" font-size='16px' line-height='20px' font-weight='400') Déjà partenaire d'#[span(style="font-weight:700") EcoSup Assurance] en accueillant plusieurs de nos étudiants en contrat d'apprentissage, la #[span(style="font-weight:700;") SMA BTP] s'engage auprès de nos jeunes en parrainant le #[span(style="font-weight:700;") "challenge Bachelors"] pour le mois de mars 2025. Une opportunité unique pour nos étudiants d'être accompagnés par une entreprise incontournable du monde de l'assurance.